html {
	font-size: 16px;
	height: 100%;
	width: 100%;
}

body {
	font-size: 1em;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-content: center;
}

.container{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-content: space-around;
	align-items: center;
	flex-flow: column;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
	padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: space-around;
	flex-flow: column wrap;
}

header h1 {
	width: 100%;
	margin: 0;
	padding: 38px 0 0 0;
	border-bottom: 3px solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {

}
header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-flow: column;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 12px 0 12px 0;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-flow: column;
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}
    
.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
}

/*** Remove for MOBILE ***
.section-one h3 {
	padding: 10px 30px;
}

 * .section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h3,
.section-three h3 {
	padding: 10px 30px;
}
***/

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	/* Remove for MOBILE 
	padding: 10px 30px;
	*/
	color:#77a466;
	line-height: 30px;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
	padding: 0;
}

.address {
	font-size: 1em;
	line-height: 24px;
	padding: 0;
}

/*The widths are in a percentage!*/
footer {
	height: 100%;
	width: 90%;
	border-top: 1px solid #eee;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/*** MEDIA QUERIES HERE ***/
@media all and (min-width:768px) {
    /* Tablet styles here */
    .bottom-section {
    	width: 100%;
    	justify-content: space-between;
    	align-items: normal;
    	flex-flow: row;
    	align-content: space-between;
    }

    .section-one, 
    .section-two,
    .section-three {
    	padding: 18px;
    }

    .section-two {
    	border-left: 1px solid #eee;
    	border-right: 1px solid #eee;
    }

    footer {
    	width: 100%;	
    }
 
}
 
@media all and (min-width:1200px) {
    /* Desktop styles here */
    header {
    	justify-content: space-between;
    	flex-flow: row;
    }

    header h1 {
    	width: 100%;
    	padding: 30px 0;
    	border-bottom: none;
    	text-align: left;
    }

    header nav ul {
    	width: 100%;
    	margin: 25px 50px 25px 0;
    	justify-content: space-around;
    	align-content: space-between;
    	flex-flow: row;
    	text-align: left;
    }

}